<footer>
<p>
이 사이트는 <a href="https://digitalhealthcare.or.kr/">한양대학교 한양디지털헬스케어센터</a>에서 관리하고 있습니다.</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
